
# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset  = utf-8
indent_style = space
trim_trailing_whitespace = true

[*.rs]
indent_size = 4
end_of_line = lf

[*.{c,cpp,cc,CC,h,hpp,H,HH,inl}]
indent_size = 2
end_of_line = lf

[CMakeLists.txt]
indent_size = 2
end_of_line = lf
